/* Обычный */
@font-face {
    font-family: 'Raleway';
    src: url(/fonts/font.ttf);
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 20px;
}

header {
    width: 100%;
    z-index: 10000;
    background: white;
    opacity: 1;
}

header .first-header {
    background: black;
    display: flex;
}


header .first-header a {
    color: white;
    font-size: 13px;
    margin: auto 12px;
    text-decoration: none;
    line-height: 28px;
    font-weight: 500;
}

.header-spacer {
    flex: 1;
}

.second-data {
    width: auto;
    margin: 10px 20px;
    display: flex;
    align-items: center;
}

.second-data a{
    margin: auto 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.second-data *:hover{
    color: #049FFC;
}


header .first-header a:hover {
    color: #FFC800;
}

header .first-header a.font-weight-bold, header .second-header a.font-weight-bold, .font-weight-bold {
    font-weight: bold;
}

.header-link {
    font-size: 13px;
    font-weight: bold;
}

.header-link:hover {
    cursor: pointer;
}

.container1200 {
    max-width: 1200px;
    margin: auto;
}

.rating {
    --star-size: 1.2;
    padding: 0;
    border: none;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: calc(var(--star-size) * 1em);
    margin-bottom: 0.5em;
    cursor: pointer;
    text-align: center;
    padding-left: 10px;
}

.rating > label {
    color: white;
    display: inline-block;
    position: relative;
    width: calc(var(--star-size) / 3 * 1.1em);
}

input:checked ~ label {
    color: transparent;
}
input:checked ~ label:before {
    content: "★";
    position: absolute;
    color: gold;
}

.rating > input {
    position: relative;
    transform: scale(var(--star-size));
    top: calc(var(--star-size) / 6 * -1em);
    margin-left: calc(var(--star-size) / 6 * -5em);
    z-index: 2;
    opacity: 0;
    font-size: initial;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
}

.brands-container>.brand-item {
    width: 20%;
}
.brands-container>.brand-item>div>.image-container {
    padding-left: 10%;
    padding-right: 10%;
}

.section-main {
    padding-right: 20%;
}

.brands-container>.brand-item>div {
    margin: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brands-container>.brand-item>div>* {
    width: 100%;
    text-align: center;
}
amp-img {
    width: 100%;
}

small {
    opacity: 0.5;
    font-size: 0.55em;
    font-weight: 700;
}

h3 {
    margin-top: 40px;
    font-size: 17px;
}

.no-line {
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    font-size: 13px;
}

h2 {
    margin-top: 60px;
    font-size: 25px;
}

h1 {
    font-size: 30px;
}

h2>a, h2, h1>a, h1, h3>a, h4>a {
    color: black;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

h2>a:hover, h1>a:hover {
    opacity: 0.6;
}

.brands-link {
    margin-top: 20px;
    width: 100%;
}

ul.pagination {
    display: inline-block;
    padding-inline-start: 0;
    width: 100%;
    margin-top: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

ul.pagination li {
    display: inline;
}

ul.pagination li>* {
    color: gray;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #C6C6C6;
}

ul.pagination li.disabled {
    opacity: 0.5;
}

ul.pagination li.active>* {
    border: 0;
    color: gray;
    font-weight: bold;
}

ul.pagination li:hover:not(.active):not(.disabled)>* {
    background-color: #ddd;
}

ul.pagination li.active:hover,ul.pagination li.disabled:hover  {
    cursor: default;
}

.action-list a{
    padding: 10px;
}

.brand-cart {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
}

.brand-cart .brand-side {
    width: 300px;
}
.brand-cart .brand-side.brand-side-welcome {
    width: 200px;
}

.brand-cart .brand-main {
    max-width: 900px;
}

.brand-cart .brand-main.brand-main-welcome {
    max-width: 1000px;
    width: 100%;
}

.brand-gray{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.image-container, .brand-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.brand-side>* {
    width: 100%;
    text-align: center;
}

.brand-section {
    margin-top: 10px;
}

.brand-badge {
    background: white;
    color: black;
    text-align: left;
    padding: 1px 6px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid gray;
}

.brand-badge-dark {
    background: black;
    color: white;
    border: 0;
}

.accordion-name {
    padding-left: 10px;
    text-align: left;
    font-weight: normal;
    font-size: 13px;
}

.user-text a {
    color: #62A8EA;
    text-decoration: none;
}

.no-brands {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: gray;
}

.user-text {
    font-size: 13px;
}

.brand-section {
    padding-left: 10px;
    text-align: left;
}

.statistic-section {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.statistic-section>* {
    display: flex;
    width: 12.5%;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    flex-basis: 12.5%;
    justify-content: flex-end;
}

.statistic-value {
    height: 75px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex: 1;
    align-items: flex-end;
}

.statistic-value span {
    margin-bottom: 20px;
}

.image-text {
    font-size: 2em;
}

.statistic-item>* {
    width: 100%;
}

.mt-15 {
    margin-top: 15px;
}
.brand-strength {
    /*margin-left: 20px;*/
}
.brand-strength span:before{
    color: #98cb00;
    display: inline-block;
    font: normal 20px/20px helvetica;
    width: 20px;
    content: '✔';
    text-align: left;
}

.rating-inline {
    display: inline;
    --star-size: 1.5;
}

.brand-rating {
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;
}

.search {
    width: 96%;
    margin: 50px auto auto auto;
}

.search input {
    width: 100%;
    padding: 15px 30px;
    font-size: 17px;
    border: 1px solid #C6C6C6;
}

.search input:focus {
    outline:none;
}

.links {
    margin: 30px auto;
    width: 100%;
}

.links a.link-active{
    border: 1px solid #62A8EA;
    border-radius: 20px;
}

.links a{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-dark {
    color: black;
    font-size: 13px;
}

.brand-linked-image {
    cursor: pointer;
}

